@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&family=Vast+Shadow&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(to bottom, #08c6dba6, #06204ebd);
    height: 100vh;
    background-repeat: no-repeat;
}

header {
    height: 250px;
    background-color: rgba(0, 0, 0, 0.336);
    margin-bottom: 10px;
    display: block;
}

header > h1 {
    color: white;
    text-align: center;
    font-size: 5.1em;
    padding-top: 65px;
    font-family: 'Vast Shadow', cursive;
    text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.705);
    display: block;
}

.container {
    height: 500px;
    width: 500px;
    background-color: #012030;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.quadrado {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #164773;
    height: 400px;
    width: 400px;
}

.q2 {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #0B2B40;
}

.q3 {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #1E5959;
}

.q4 {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #3B8C6E;
}

.q5 {
    width: 30px;
    height: 30px;
    background-color: #89D99D;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}